/*
 * __        ___ __   ______    _    ____    ____ _______   ___     _____
 * \ \      / / \\ \ / / __ )  / \  |  _ \  / ___|_   _\ \ / / |   | ____|
 *  \ \ /\ / / _ \\ V /|  _ \ / _ \ | |_) | \___ \ | |  \ V /| |   |  _|
 *   \ V  V / ___ \| | | |_) / ___ \|  _ <   ___) || |   | | | |___| |___
 *    \_/\_/_/   \_\_| |____/_/   \_\_| \_\ |____/ |_|   |_| |_____|_____|
 */

/*
 * Define the colours used throughout the styling.
 */
@define-color catppuccin-rosewater rgb(245, 224, 220) /* #F5E0DC */;
@define-color catppuccin-flamingo  rgb(242, 205, 205) /* #F2CDCD */;
@define-color catppuccin-pink      rgb(245, 194, 231) /* #F5C2E7 */;
@define-color catppuccin-mauve     rgb(203, 166, 247) /* #CBA6F7 */;
@define-color catppuccin-red       rgb(243, 139, 168) /* #F38BA8 */;
@define-color catppuccin-maroon    rgb(235, 160, 172) /* #EBA0AC */;
@define-color catppuccin-peach     rgb(250, 179, 135) /* #FAB387 */;
@define-color catppuccin-yellow    rgb(249, 226, 175) /* #F9E2AF */;
@define-color catppuccin-green     rgb(166, 227, 161) /* #A6E3A1 */;
@define-color catppuccin-teal      rgb(148, 226, 213) /* #94E2D5 */;
@define-color catppuccin-sky       rgb(137, 220, 235) /* #89DCEB */;
@define-color catppuccin-sapphire  rgb(116, 199, 236) /* #74C7EC */;
@define-color catppuccin-blue      rgb(137, 180, 250) /* #89B4FA */;
@define-color catppuccin-lavender  rgb(180, 190, 254) /* #B4BEFE */;
@define-color catppuccin-text      rgb(205, 214, 244) /* #CDD6F4 */;
@define-color catppuccin-subtext1  rgb(186, 194, 222) /* #BAC2DE */;
@define-color catppuccin-subtext0  rgb(166, 173, 200) /* #A6ADC8 */;
@define-color catppuccin-overlay2  rgb(147, 153, 178) /* #9399B2 */;
@define-color catppuccin-overlay1  rgb(127, 132, 156) /* #7F849C */;
@define-color catppuccin-overlay0  rgb(108, 112, 134) /* #6C7086 */;
@define-color catppuccin-surface2  rgb( 88,  91, 112) /* #585B70 */;
@define-color catppuccin-surface1  rgb( 69,  71,  90) /* #45475A */;
@define-color catppuccin-surface0  rgb( 49,  50,  68) /* #313244 */;
@define-color catppuccin-base      rgb( 30,  30,  46) /* #1E1E2E */;
@define-color catppuccin-mantle    rgb( 24,  24,  37) /* #181825 */;
@define-color catppuccin-crust     rgb( 17,  17,  27) /* #010409 */;

/*
 * Global defaults.
 *
 * Making it easier to ensure a consistent look. But individual modules may
 * override or expand on the styling.
 */
* {
    background          : transparent;
    border-radius       : 0px;
    font-family         : FontAwesome, Roboto, 'monospace';
    font-size           : 18px;
    margin              : 0px 0px 0px 0px;
    opacity             : 1.0;
    padding             : 0px 0px 0px 0px;
    transition-property : none;
}

/*
 * The main waybar component.
 */
#waybar {
    background    : transparent;
    border-bottom : none;
}

/*
 * Generic module styling.
 *
 * Keep a little space between all the modules. Making it easier to visually
 * parse. And for the left, right and centre modules just keep some spacing
 * around the sides.
 */
.module {
    margin  : 0px 4px 0px 4px;
    padding : 0px 2px 0px 2px;
}

.modules-left,
.modules-center,
.modules-right {
    margin : 0px 2px 0px 2px;
}

/*
 * The fist module will be displayed with background.
 */
#util,
#workspaces,
#window,
#clock,
#tray,
#status,
#custom-control {
    background    : @catppuccin-base;
    border-radius : 8px;
    border        : solid 2px @catppuccin-surface0;
    box-shadow    : none;
    padding       : 2px 8px 2px 8px;
}

/*
 * Generic elements.
 *
 * This is just some baselines. Let each individual module be more specific.
 */
button {
    border        : none;
    border-radius : 0;
}

menu {
    background : @catppuccin-base;
    border     : solid 1px @catppuccin-surface0;
}

menuitem {
    border : none;
}

menuitem:hover {
    background : @catppuccin-overlay2;
    color      : @catppuccin-text;
}

tooltip {
    background : @catppuccin-overlay0;
}

/*
 * Battery
 */
#battery {
    color : @catppuccin-yellow;
}

#battery.warning {
    color : @catppuccin-red;
}

/*
 * Bluetooth
 */
#bluetooth {
    color : @catppuccin-overlay2;
}

#bluetooth.connected {
    color : @catppuccin-blue;
}

/*
 * Clock
 */
#clock {
    color : @catppuccin-subtext0;
}

/*
 * Idle inhibitor.
 */
#idle_inhibitor {
    color : @catppuccin-text;
}

#idle_inhibitor:hover {
    box-shadow : inset 0px -3px @catppuccin-subtext0;
}

/*
 * Language.
 */
#language {
    border-radius : 0px;
    color         : @catppuccin-subtext0;
}

#language:hover {
    box-shadow : inset 0px -3px @catppuccin-subtext0;
}

/*
 * Control.
 */
#custom-control {
    color : @catppuccin-flamingo;
}

#custom-control:hover {
    box-shadow : inset 0px -3px @catppuccin-flamingo;
}


/*
 * Logo.
 */
#custom-logo {
    color : @catppuccin-mauve;
}

/*
 * Network.
 */
#network {
    color : @catppuccin-sky;
}

#network:hover {
    box-shadow : inset 0px -3px @catppuccin-sky;
}

/*
 * Notifications.
 */
#custom-notifications {
    border-radius : 0px;
    color         : @catppuccin-text;
}

#custom-notifications:hover {
    box-shadow : inset 0px -3px @catppuccin-subtext0;
}

/*
 * Submap.
 */
#submap {
    color         : @catppuccin-text;
}

#submap:hover {
    box-shadow : inset 0px -3px @catppuccin-subtext0;
}

/*
 * Wireplumber.
 */
#wireplumber {
    color : @catppuccin-teal;
}

#wireplumber:hover {
    border-radius : 0px;
    box-shadow    : inset 0px -3px @catppuccin-teal;
}

/*
 * Window.
 */
#window {
    color : @catppuccin-subtext0;
}

/*
 * Workspaces.
 */
#workspaces button {
    color   : @catppuccin-rosewater;
    padding : 0px 1px 0px 1px;
}

#workspaces button:hover {
    box-shadow : inset 0px -3px @catppuccin-rosewater;
}

#workspaces button.active {
    color      : @catppuccin-lavender;
    box-shadow : inset 0px -3px @catppuccin-lavender;
    padding    : 0px 4px 0px 4px;
}

#workspaces button.active.empty {
    color : @catppuccin-lavender;
}

#workspaces button.active.empty:hover {
    box-shadow : inset 0px -3px @catppuccin-lavender;
}

#workspaces button.empty {
    color : @catppuccin-overlay0;
}

#workspaces button.empty:hover {
    box-shadow : inset 0px -3px @catppuccin-overlay0;
}

#workspaces button.urgent {
    color : @catppuccin-yellow;
}

#workspaces button.urgent:hover {
    box-shadow : inset 0px -3px @catppuccin-yellow;
}
